Solving the Requirements 
Problem - Once and For All
Top five issues at the root of the requirements problemWhitepaper
©2014 Blueprint Software Systems Inc. All rights reserved
Survey results indicated 
that over 62% of 
organizations experienced 
one or more of challenges 
in over 30% of projects. 
Almost 11% felt that 100% 
of projects launched with 
those challenges. Requirements. You know they are a major contributing factor to project failures. 
And given the number of software projects your organization delivers that 
are past deadline, over budget or fail to deliver business value, you know 
that requirements are a problem. Research from analyst firms confirms that 
organization is not alone in this situation. But no one has told you what to do 
about it – until now.  
In an effort to get to the root of the requirements problem and provide actionable 
advice for solving it, Blueprint sponsored research by The Performance Institute. 
The research firm conducted two surveys and a myriad interview to find out:
• Why more organizations haven’t been able to effectively address the 
requirements problem; and,
• In organizations that have made improvements, what actions have had the 
biggest impact?
To that end, The Performance Institute investigated commonly held but 
contrasting viewpoints, including:
• Are requirements addressed early enough in the lifecycle – or too early? 
• Is too much time spent on requirements definition  – or too little? 
• Are requirements not adhered to as the project progresses  – or are they too 
rigid to adapt to evolving needs? 
• Are the wrong people charged with defining needs?
The results were enlightening. The research uncovered five main issues that 
lead to the “requirements problem” organizations experience today. We’ll go 
over them briefly here. To learn more about each issue and read recommended 
practices to address them, download the full report .
But first, some context: The survey asked respondents to comment on both 
their successful projects (if any) and on their challenged projects. “Challenged” 
projects were defined as those (a) delivered more than two months past projected 
delivery date; (b) 15% or more over planned budget; (c) the solution contained 
significant enough defects that it had to be re-worked to satisfy stakeholders.
Survey results indicated that over 62% of organizations experienced one or more 
of the challenges in over 30% of projects. Almost 11% felt that 100% of projects 
launched with those challenges.
Issue #1: Too many projects focus on the wrong things.
Do you frequently find that software projects fail to address business needs? 
Are changes common during the development process? Do you discard 
requirements when projects are done? If you answered yes to any of these 
questions, chances are good that your organization focuses on the wrong things 
during the software development lifecycle. Through this research, it was found 
that “the wrong things” manifested in three key ways:
• Building the wrong thing – delivering something that doesn’t meet a 
strategic, business need.2
Solving the Requirements Problem – Once and For All Whitepaper
©2014 Blueprint Software Systems Inc. All rights reserved
• Focusing on the wrong thing – working to meet budget and schedule to 
the exclusion of tasks more critical to success; for example, ensuring that 
stakeholders are on board with the project’s direction, especially if there are 
changes along the way. 
• Valuing the wrong thing – discarding requirements at the conclusion of a 
project when they could be an asset for subsequent work. 
Issue #2: Not enough time is spent on requirements.
As the saying goes, hindsight is 20/20. Survey respondents reported that 
the amount of time spent on requirements for successful projects was “about 
right.” Not surprisingly, respondents reported having spent too little time on 
requirements for challenged projects.
Issue #3: The wrong people are responsible for requirements. 
Organizations can’t put just anyone on requirements definition and management, 
and expect positive results.
Think you’re good because your business analysts are on the task? It’s more 
complicated than that. Our research shows that there is a significant difference 
between theory and practice where the business analyst role (or functional 
equivalent) is used. Oftentimes, these folks are not brought into the project 
early enough, lack the appropriate skillset, or are not consistently used and fully 
committed to the project. In other organizations, solution vendors are creating 
requirements. This is never a good idea.
Issue #4: Business analysts don’t have the right skills.
If you have Business Analysts on staff, you’re on the right path to addressing 
the requirements problem. But it doesn’t end there. The title “Business Analyst” 
doesn’t guarantee that the holder of said title has the right skills – or enough 
skills – to define and manage requirements for difficult, complex projects. And 
having a certification in business analysis doesn’t mean that either, although it is 
a good indicator of experience.
Issue #5: Government contracting requests are too large to be suc -
cessful.
Government organizations often struggle with another issue that can contribute 
to the requirements problem: the complexity of the contracting process. This can 
lead to significant delays between when a request is submitted and when the 
product or service is actually contracted. Because of this delay, the requirements 
information becomes Overcome By Events (OBE), and the final solution falls out 
of touch with the original business need.
3
Solving the Requirements Problem – Once and For All Whitepaper
©2014 Blueprint Software Systems Inc. All rights reserved
“How can a business 
analyst…be expected to 
perform at a top level 
when his/her required 
competencies have not 
been clearly defined? They 
can’t. Yet organizations 
worldwide are operating 
without defined 
competencies for their 
business analysts.”
ESI International, 2006Conclusion
Recognizing the root cause(s) of your organization’s requirements problem is 
the first step to solving it. Chances are good one or more of the five issues 
exist within your organization. But if you’re not sure which ones apply to your 
organization, that’s OK. We dive deeper into each of these, and others, in the 
full report. We also provide recommended practices for addressing the issues 
head-on and eradicating the requirements problem – once and for all. Download 
the full report here.4
Solving the Requirements Problem – Once and For All Whitepaper
©2014 Blueprint Software Systems Inc. All rights reservedAbout Blueprint
Founded in 2004, Blueprint develops requirements definition and management 
(RDM) software. With its best-in-class RDM solution, Blueprint helps companies 
get complex software and IT project requirements right from the start. Blueprint 
solves many of the time-consuming, costly, and error-prone elements of defining 
requirements, ensuring that mission critical projects are completed on time 
and budget. Headquartered in Toronto, Ontario, Blueprint has global sales, 
operations and partner presence.General Inquiries and Sales
info@blueprintsys.com
647.288.0700
1.866.979.BLUE(2583)
+44 203 051 0432
www.blueprintsys.com
